<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speedskillsx TODO</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'style.css')}}">
</head>
<body class="body-todo">
    <center class="a"><h1> Amayas's TODO-List </h1></center>
    
    <br>
    <ul class="ul-class">
        {%block todos%}
            {% for todo in todos %}
                    <li>
                        <div class="tutorial">
                            <span {% if todo['done'] %} style="text-decoration-line: line-through; color:red;"{%endif%} > {{todo['todo']}}</span>
                            <table class="table-methods" >
                                <td ><form action="{{url_for('check', index=loop.index0)}}">
                                        <button class="btn-box" type="submit">Check</button></td>
                                    </form>
                                <td><form action="{{url_for('edit', index=loop.index0)}}">
                                    <button class="btn-box" type="submit">Edit</button></td>
                                    </form>
                                <td><form action="{{url_for('delete', index=loop.index0)}}">
                                        <button class="btn-box" type="submit">Delete</button></td>
                                    </form>
                                    
                            </table>
                        </div>
                        
                        <br>
                        
                        
                    </li>
            {%endfor%}
        {%endblock%}
    </ul>
    <br>
    <br>
    <form class="form-btn" action="{{ url_for('add')}}" method="post" >
        <input class="input-todo" type="text" name="todo">
        <button class="btn-todo" type="submit">ADD a Todo to the list</button>
    </form>
</body>
</html>